
.icon-phone-circled:before { content: '\e801'; } /* '' */
.icon-mail-circled:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */