@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700&display=swap&subset=latin-ext');

.border {
    border: 1px solid red;
}

.call {
    text-align: center;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #08214A;
}

h5 {
    color: #fff;
}

.line {
    width: 80%;
    height: 1px;
    border-bottom: 1px solid #0980C8;
    position: relative;
    margin: 50px auto;
}

/* -------------HEADER------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    left: 0;
    position: relative;
    box-shadow: 0px 15px 10px -15px #111;
}

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    position: absolute;
    right: 0;
}

.navigation {
    transition: transform .3s .1s ease-in-out, visibility 0s .4s;
}

.hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: #08214A;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 3px;
    background-color: #08214A;
    position: absolute;
    content: '';
    left: 0;
    transition: transform .2s .2s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
}

.navigation {
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: -20px;
    left: 0;
    visibility: hidden;
    transform: translateY(-250px);
    z-index: 20;
    text-align: center;
    margin: 0 auto;
}

.navigation--active {
    transform: translateY(130px);
    transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    visibility: visible;
}

.navigation__list {
    margin-top: 50px;
    list-style: none;
}

.navigation__item {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cool-link {
    display: inline-block;
    text-decoration: none;
}

.cool-link:hover {
    color: #0980C8;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #0980C8;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.navigation__call {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    background: #08214A;
}

.navigation__call__link {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.navigation__call__link:hover span {
    color: #0980c8;

}

.call__link__text {
    font-size: 2rem;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.logo {
    margin: 0 auto 10px auto;
}


/* ------------OFFER------------ */
.card {
    background: #08214A;
    color: #0980C8;
    border: 1px solid #0980C8;
    padding: 0;
    margin-bottom: 20px;
}

.card__icon {
    margin: 25px;
}

.price {
    color: #fff;
    font-size: 1.75rem;
}

.price span {
    font-size: 1.3rem;
}

.call {
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.call__link {
    color: #fff;
}

.call:hover,
.call:hover .call__link {
    color: #08214A;
    background: #FFFFFF;
}

.call__link:hover {
    color: #08214A;
    background: #FFFFFF
}

.offer__container {
    background: #08214A;
    padding-top: 50px;
}

.offer__heading {
    color: #FFFFFF;
}

.offer__card__box {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px
}

.card__heading,
.card__description {
    height: 175px;
}

.line-dark {
    border-color: #08214A;
}

.offer__info {
    width: 100%;
    margin: 0 auto 50px auto;
}

.offer__info__image {
    padding: 0;
    margin-bottom: 30px;
    position: relative;
}

.offer__info__image::after {
    background: #0980C8;
    position: absolute;
    top: 18px;
    left: -15px;
    height: 23vw;
    width: 100%;
    z-index: -2;
    transition: all .2s ease-in-out;
    content: "";
}

.offer__info__text {
    padding: 0;
}

.offer__info__text ul {
    list-style: none;
}

.offer__info__text ul li {
    margin-bottom: 10px;
    text-align: justify;
}


/* --------------ABOUT US---------------- */

#about {
    background: #08214A;
    color: #FFFFFF;
}

.about__heading {
    margin: 0 auto;
    color: #FFFFFF;
}

.about__box {
    width: 100%;
    margin: 0 auto;
}

.about__img {
    padding: 0;
}

.about__img__description {
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
    margin: 0 10px 30px;
}

.about__text {
    margin-bottom: 50px;
    order: 2;
}


/* -------OPINION--------- */

.opinion__item {
    margin-bottom: 50px;
}

.opinion__item__avatar {
    border-radius: 50%
}

.opinion__item__text {
    font-style: italic;
}

.quote {
    order: 2;
}


/* ------CONTACT------- */

#contact {
    background: #08214A;
    color: #fff;
}

.contact__heading {
    color: #FFFFFF;
}

.contact__box {
    width: 90%;
    height: 130px;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__box--phone {
    background: #fff;
    color: #0980C8;
}

.contact__box--mail {
    background: #0980C8;
}

.contact__box__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__box__link:hover {
    color: #08214A;
}

.contact__box__icon {
    font-size: 3rem;
}

.box__link__mail {
    color: #fff;
}

.contact__box__text {
    font-size: 2rem;
}


/* ----------FOOTER---------- */

footer {
    background: #D1D1D1;
    color: #777777;
    text-align: center;
}

.footer__copy {
    order: 2;
    flex-direction: column;
}

.socials {
    font-size: 1.3rem
}

.footer__icon {
    color: #08214A;
    font-size: 3rem;
}

.footer__icon:hover {
    color: #0980C8;
}

@media (min-width: 768px) {



    .quote__photo {
        order: 2;
    }

    .contact__box {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    .contact__box__link {
        flex-direction: column;
    }

    .contact__box__icon {
        font-size: 7.5rem;
    }

    .footer__copy {
        order: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .socials {
        order: 2;
    }

    .copy,
    .madeBy {
        margin: 0;
    }

    @media (min-width: 992px) {
        .logo {
            margin: 0 1.2vw
        }

        .hamburger {
            display: none;
        }

        .navigation {
            visibility: visible;
            position: relative;
            height: auto;
            top: 0;
            transition: none;
            transform: translateY(0);
            width: 100%;
            margin: 0 20px;
            display: flex;
            flex-direction: column-reverse;
        }

        .navigation__list {
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }

        .navigation__item {
            padding: 0 1.4vw;
            margin: 0;
            font-size: 1.3rem;
            border-right: 2px solid #0980C8;
        }

        .navigation__item:last-of-type {
            border: none;
        }

        .navigation__call {
            position: relative;
            margin: 10px auto;
            width: 70%;
            background: none;
        }

        .navigation__call a {
            color: #fff;
        }

        .navigation__call::before,
        .navigation__call::after {
            background: #0980C8;
            position: absolute;
            top: 0;
            height: 100%;
            transform: skewX(-10deg);
            transition: all .2s ease-in-out;
            content: "";
        }

        .navigation__call::before {
            right: 10px;
            left: 10px;
            z-index: -1;
        }

        .navigation__call::after {
            right: 0;
            left: 0;
            z-index: -2;
            background: rgba(9, 128, 200, 0.6);
        }

        .navigation__call__link {
            flex-direction: row;
            justify-content: space-around;
            border-top: none;
        }

        .navigation__call__link:hover span {
            color: #08214A;
        }

        .about__text {
            order: 1;
        }

        .about__img {
            order: 2;
        }
    }
}
